<section class="calendar-container">
    <a change-month-button direction="prev" class="prev-month">&#8592;</a>
    <h3>{{datedata.currentMonthName}} {{datedata.currentYear}}</h3>
    <a change-month-button direction="next" class="next-month">&#8594;</a>

    <div class="calendar-day-names">
        <span>Mån</span>
        <span>Tis</span>
        <span>Ons</span>
        <span>Tor</span>
        <span>Fre</span>
        <span>Lör</span>
        <span>Sön</span>
    </div>
    <div class="calendar-day-numbers">
        <a href="" ng-repeat="day in datedata.calendarDays" booking-calendar-day number="{{day.number}}" index="{{day.index}}" ng-class="day.cssClassName">
            {{day.number}}
        </a>
    </div>

    <section ng-show="datedata.bookings.length">
        <h3>{{dateHeaderString}}</h3>

        <table class="list-table" ng-show="datedata.bookings.length">
            <tr>
                <th>Bokningstillfälle</th>
                <th>Starttid</th>
                <th>Sluttid</th>
                <th>Preliminär</th>
                <th>Lokal/Plats</th>
                <th>Möblering</th>
                <th>Personer / Max</th>
                <th>Pris</th>
                <th></th>
            </tr>
            <tr ng-repeat="booking in datedata.bookings">
                <td class="align-left"><a ng-href="#/bokningstillfallen/visa/{{booking.BookingId}}">{{booking.BookingName | emptyName}}</a></td>
                <td class="date align-left">{{booking.StartTime | date: 'yyyy-MM-dd \k\l HH:mm' }}</td>
                <td class="date align-left">{{booking.EndTime | date: 'yyyy-MM-dd \k\l HH:mm'}}</td>
                <td>{{booking.Provisional | boolean}}</td>
                <td><a ng-href="#/platser/visa/{{booking.LocationId}}">{{booking.LocationName}}</a></td>
                <td>{{booking.FurnituringName}}</td>
                <td class="align-right">{{booking.NumberOfPeople}} / {{booking.MaxPeople | count}}</td>
                <td>{{booking.CalculatedBookingPrice | kr}}</td>
                <td class="align-right">
                    <div item-action-buttons="booking.LocationBookingId"></div>
                </td>
            </tr>
        </table>
    </section>
</section>