<section class="content-container" ng-controller="BookingCreateCtrl">
    <h2>
        Skapa Bokningstillfälle
        <img data-loading class="data-pre-loader" ng-show="showPreLoader" src="img/preloader_cogs.gif">
    </h2>
    <page-header-buttons
        show-calendar="true"
        show-list="true"
        show-add="true"
        show-search="true"
    ></page-header-buttons>

    <form name="bookingForm">

        <label>Preliminär bokning</label>
        <div class="checkbox-radio-container" ng-init="booking.Provisional=1">
            <label>
                <input type="radio" name="provisional" value="1" ng-model="booking.Provisional" required> Ja
            </label>
            <label>
                <input type="radio" name="provisional" value="0" ng-model="booking.Provisional" required> Nej
            </label>
        </div>

        <label>Kund</label>
        <select name="customer" ng-model="booking.CustomerId" ng-options="customer.CustomerId as customer.Name for customer in customers">
            <option value="">(Ingen)</option>
        </select>

        <label>Namn på bokning
            <span ng-show="bookingForm.name.$error.pattern">Får endast bestå av bokstäver, siffror och tecknen: -_&.,~^@()/%!</span>
        </label>
        <input type="text" name="name" ng-pattern="regExp.textField" ng-model="booking.Name">

        <label>Bokningstyp
            <span ng-show="bookingForm.name.$error.required">Var god ange</span>
            <span ng-show="bookingForm.name.$error.pattern">Får endast bestå av bokstäver, siffror och tecknen: -_&.,~^@()/%!</span>
        </label>
        <input type="text" name="name" ng-pattern="regExp.textField" ng-model="booking.Name" required>

        <label>Antal personer (st)
            <span ng-show="bookingForm.NumberOfPeople.$error.required">Var god ange</span>
            <span ng-show="bookingForm.NumberOfPeople.$error.number">Inget giltigt antal</span>
            <span ng-show="bookingForm.NumberOfPeople.$error.max">Får vara max {{Int16MaxValue}}</span>
            <span ng-show="bookingForm.NumberOfPeople.$error.min">Får vara minst 0</span>
        </label>
        <input type="number" min="0" max="{{Int16MaxValue}}" name="NumberOfPeople" ng-model="booking.NumberOfPeople" required >

        <label>Rabatt på allt i bokning (%)</label>
        <select ng-init="booking.Discount=0" name="discount" ng-model="booking.Discount" ng-options="discount for discount in discountRange">
        </select>

        <!--
        <label>Betalningsform
            <span ng-show="bookingForm.name.$error.required">Var god ange</span>
            <span ng-show="bookingForm.name.$error.pattern">Får endast bestå av bokstäver, siffror och tecknen: -_&.,~^@()/%!</span>
        </label>
        <input type="text" name="name" ng-pattern="regExp.textField" ng-model="booking.Name" required>
        -->
        <label>Anteckningar
            <span ng-show="customerForm.notes.$error.pattern">Får endast bestå av bokstäver, siffror och tecknen: -_&.,~^@()/%!</span>
        </label>
        <textarea name="notes" ng-pattern="regExp.textField" ng-model="booking.Notes" maxlength="200"></textarea>



        <button ng-click="save()" ng-disabled="!bookingForm.$valid">Skapa</button>
        <button ng-click="abort()">Avbryt</button>

    </form>
</section>