<section class="content-container" ng-controller="BookingEditCtrl" ng-show="booking">
    <h2>
        Redigera Bokningstillfälle
        <img data-loading class="data-pre-loader" ng-show="showPreLoader" src="img/preloader_cogs.gif">
    </h2>
    <page-header-buttons
            show-calendar="true"
            show-list="true"
            show-add="true"
            show-search="true"
    ></page-header-buttons>

    <form name="bookingForm">

        <label>Namn på bokningstillfälle
            <span ng-show="bookingForm.name.$error.pattern">Får endast bestå av bokstäver, siffror och tecknen: -_&.,~^@()/%!</span>
        </label>
        <input type="text" name="name" ng-pattern="regExp.textField" ng-model="booking.Name">

        <label>Preliminär bokning</label>
        <div class="checkbox-radio-container" ng-init="booking.Provisional=1">
            <label>
                <input type="radio" name="provisional" value="1" ng-model="booking.Provisional" required> Ja
            </label>
            <label>
                <input type="radio" name="provisional" value="0" ng-model="booking.Provisional" required> Nej
            </label>
        </div>

        <label>Bokningstyp</label>
        <select name="customer" ng-init="booking.BookingTypeId = 0" ng-model="booking.BookingTypeId" ng-options="bookingType.BookingTypeId as bookingType.Name for bookingType in bookingTypes">
        </select>

        <label>Kund</label>
        <select name="customer" ng-model="booking.CustomerId" ng-options="customer.CustomerId as customer.Name for customer in customers">
            <option value="">(Ingen)</option>
        </select>

        <label>Antal personer (st)
            <span ng-show="bookingForm.NumberOfPeople.$error.required" class="green">Var god ange</span>
            <span ng-show="bookingForm.NumberOfPeople.$error.number">Inget giltigt antal</span>
            <span ng-show="bookingForm.NumberOfPeople.$error.max">Får vara max {{Int16MaxValue}}</span>
            <span ng-show="bookingForm.NumberOfPeople.$error.min">Får vara minst 0</span>
        </label>
        <input type="number" min="0" max="{{Int16MaxValue}}" name="NumberOfPeople" ng-model="booking.NumberOfPeople" required >

        <label>Rabatt på allt i bokning (%)</label>
        <select-percentage use-model="booking.Discount"></select-percentage>

        <label>Anteckningar
            <span ng-show="customerForm.notes.$error.pattern">Får endast bestå av bokstäver, siffror och tecknen: -_&.,~^@()/%!</span>
        </label>
        <textarea name="notes" ng-pattern="regExp.textField" ng-model="booking.Notes" maxlength="200"></textarea>

        <div ng-show="booking.LocationBookings">
            <h2>Lokalbokningar <a add-to-content-button="lokalbokningar" add-argument="booking.BookingId" class="float-right" title="Lägg till lokalbokning"></a></h2>
            <table class="list-table">
                <tr>
                    <th>Starttid</th>
                    <th>Sluttid</th>
                    <th>Lokal/Plats-namn</th>
                    <th>Möblering</th>
                    <th>Antal personer</th>
                    <th>Bokningspris</th>
                    <th></th>
                </tr>
                <tr ng-repeat="locationBooking in booking.LocationBookings">
                    <td class="date">{{locationBooking.StartTime | date: 'yyyy-MM-dd \k\l HH:mm' }}</td>
                    <td class="date">{{locationBooking.EndTime | date: 'yyyy-MM-dd \k\l HH:mm' }}</td>
                    <td>{{locationBooking.LocationName}}</td>
                    <td>{{locationBooking.FurnituringName}}</td>
                    <td class="align-right">{{locationBooking.NumberOfPeople | count}}</td>
                    <td class="align-right">{{locationBooking.CalculatedBookingPrice | kr}}</td>
                    <td class="align-right">
                        <div item-action-buttons="locationBooking.LocationBookingId" object-type="lokalbokningar"></div>
                    </td>
                </tr>
            </table>
        </div>
    </form>

    <div>
        <button ng-click="save()" ng-disabled="!bookingForm.$valid">Spara</button>
        <button back-button>Avbryt</button>
    </div>

</section>