<section class="content-container" ng-controller="LocationBookingEditCtrl" ng-show="locationBooking">
    <h2>
        Redigera Lokal/Plats-bokning
        <img data-loading class="data-pre-loader" ng-show="showPreLoader" src="img/preloader_cogs.gif">
    </h2>
    <page-header-buttons
        show-calendar="true"
        show-list="true"
        show-add="true"
    ></page-header-buttons>

    <form name="locationbookingForm">

        <validate-date-time ng-model="scope"></validate-date-time>

        <label>Startdatum
            <span ng-show="locationbookingForm.$error.dateTimeOutOfRange">Starttidpunkten måste vara före Sluttidpunkten.</span>
            <span ng-show="locationbookingForm.startDate.$error.required" class="green">Var god ange</span>
            <span ng-show="locationbookingForm.startDate.$error.pattern">Får endast bestå av bokstäver, siffror och tecknen: -_&.,~^@()/%!</span>
        </label>
        <input type="date" name="startDate" ng-pattern="regExp.textField" ng-model="StartDate" required>

        <label>Starttid
            <span ng-show="locationbookingForm.$error.dateTimeOutOfRange">Starttidpunkten måste vara före Sluttidpunkten.</span>
            <span ng-show="locationbookingForm.startTime.$error.required" class="green">Var god ange</span>
        </label>
        <input type="time" name="startTime" ng-model="StartTime" required>

        <label>Slutdatum
            <span ng-show="locationbookingForm.$error.dateTimeOutOfRange">Sluttidpunkten måste vara efter Starttidpunkten.</span>
            <span ng-show="locationbookingForm.endDate.$error.required" class="green">Var god ange</span>
            <span ng-show="locationbookingForm.endDate.$error.pattern">Får endast bestå av bokstäver, siffror och tecknen: -_&.,~^@()/%!</span>
        </label>
        <input type="date" name="endDate" ng-pattern="regExp.textField" ng-model="EndDate" required>

        <label>Sluttid
            <span ng-show="locationbookingForm.$error.dateTimeOutOfRange">Sluttidpunkten måste vara efter Starttidpunkten.</span>
            <span ng-show="locationbookingForm.endTime.$error.required" class="green">Var god ange</span>
            <span ng-show="locationbookingForm.endTime.$error.outOfRange">Sluttidpunkten måste vara efter Starttidpunkten</span>
        </label>
        <input type="time" name="endTime" ng-model="EndTime" required>

        <label>Lokal
            <span ng-show="locationbookingForm.location.$error.required" class="green no-float">Var god ange</span>
        </label>
        <select name="location" ng-change="updateFurniturings()" ng-model="locationBooking.LocationId" ng-options="location.LocationId as location.Name for location in locations" required>
            <option ng-show="!furniturings.length" value="">(Välj lokal)</option>
        </select>
        <span class="no-float invalid bg-dark-purple" ng-show="showInfoAboutNoFurniturings">Inga möbleringar finns för vald lokal.</span>

        <label>Möblering
            <span ng-show="locationbookingForm.furnituring.$error.required && furniturings.length" class="green no-float">Var god ange</span>
        </label>

        <select name="furnituring" ng-disabled="!furniturings.length" ng-model="locationBooking.SelectedFurnituring" ng-options='furnituring as (furnituring.FurnituringName+ " (max " + furnituring.MaxPeople + " pers.)") for furnituring in furniturings' required>
            <option ng-show="!locationBooking.SelectedFurnituring" value="" >(Välj möblering)</option>
        </select>

        <label>Antal personer
            <span ng-show="locationbookingForm.numberOfPeople.$error.required && locationBooking.SelectedFurnituring" class="green">Var god ange</span>
            <span ng-show="locationbookingForm.numberOfPeople.$error.number">Inget giltigt antal</span>
            <span ng-show="locationbookingForm.numberOfPeople.$error.ngMax">Får vara max {{locationBooking.SelectedFurnituring.MaxPeople}}</span>
            <span ng-show="locationbookingForm.numberOfPeople.$error.min">Får vara minst 0</span>
        </label>
        <input type="number" min="0" ng-max="locationBooking.SelectedFurnituring.MaxPeople" name="numberOfPeople" ng-model="locationBooking.NumberOfPeople" required ng-disabled="!locationBooking.SelectedFurnituring">
        <div>
            <button ng-click="save()" ng-disabled="!locationbookingForm.$valid">Spara</button>
            <button back-button>Avbryt</button>
        </div>
    </form>

</section>