html {
    overflow-y: scroll;
}

body {
    background: #F2F1EF;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

input[type=checkbox] {
    width: 18px;
    height: 18px;
    position: relative;
    top: 3px;
}

input[type=text], input[type=date] {
    height: 30px;
    width: 200px;
    padding: 0 5px;

    border: none;
    border-radius: 3px;

    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:    inset 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
    box-shadow:         inset 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

button {
    min-width: 75px;
    display: inline-block;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;

    -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    inset 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow:         inset 0px 0px 4px 0px rgba(0, 0, 0, 0.1);

    background: -moz-linear-gradient(top,  #F8F8F8 0%, #E0E0E0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F8F8), color-stop(100%,#E0E0E0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #F8F8F8 0%,#E0E0E0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #F8F8F8 0%,#E0E0E0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #F8F8F8 0%,#E0E0E0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #F8F8F8 0%,#E0E0E0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F8F8', endColorstr='#E0E0E0',GradientType=0 ); /* IE6-9 */

    border: 1px solid #CCCCCC;
}

button:hover {
    background: #FFD77F;
/*
    -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.9);
    -moz-box-shadow:    inset 0px 0px 1px 0px rgba(0, 0, 0, 0.9);
    box-shadow:         inset 0px 0px 1px 0px rgba(0, 0, 0, 0.9);'
*/
    border: 1px solid #AAAAAA;
}

header {
    background: #777777;

    min-height: 60px;
    position: relative;

    padding: 0 0 0 0;

    /*
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    */

    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:    inset 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
    box-shadow:         inset 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

    header h1 {
        float: left;
        margin: 0;
        font-size: 26px;
        line-height: 60px;
        background: url('../img/icons/logo.svg') left no-repeat;
        padding: 0 0 0 50px;
        position: relative;
        color: #FFFFFF;
        font-weight: normal;
        height: inherit;
    }

    header .header-button-add {
        display: block;
        position: absolute;
        top: 5px;
        right: 120px;
        background: url('../img/icons/add.svg') no-repeat;
        width: 50px;
        height: 50px;
    }

    header .header-button-search {
        display: block;
        position: absolute;
        top: 5px;
        right: 60px;
        background: url('../img/icons/search.svg') no-repeat;
        width: 50px;
        height: 50px;
    }

    header .header-button-logout {
        display: block;
        position: absolute;
        top: 5px;
        right: 0;
        background: url('../img/icons/logout.svg') no-repeat;
        width: 50px;
        height: 50px;
    }

    header .header-button-add:hover, header .header-button-logout:hover, header .header-button-search:hover {
        cursor: pointer;
        background-color: #AAAAAA;
    }

    header nav.main-menu {
        display: inline-block;
        color: #FFFFFF;
        margin: 0 0 0 10px;
    }

        header nav.main-menu ul {
            margin: 0 0 0 0;
            padding: 0;
            display: block;
            /*border-left: 1px solid #263145;*/

        }
            header nav.main-menu ul li {
                display: inline-block;
            }

            header nav.main-menu ul li a {
                text-decoration: none;
                color: #FFFFFF;
                display: inline-block;
                margin: 0;
                padding: 19px 25px 19px 10px;

                background: url('../img/icons/menu_marker.svg') no-repeat;

                background-position: right 7px top 27px;

                /*text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);*/

                /*border-right: 1px solid #888888;
                border-left: 1px solid #888888;
                border-top: 1px solid #888888;*/

                /*border-top-left-radius: 5px;
                border-top-right-radius: 5px;*/

            }

            header nav.main-menu ul li.active {
                background-color: #FFFFFF;
                text-shadow: none;
            }

            header nav.main-menu ul li a:hover {
                cursor: pointer;
                background-color: #FFFFFF;
                color: #F08362;
            }

            header nav.main-menu ul li.active a {
                color: #73B0B5;
            }

    header nav.sub-menu {
        background: #FFFFFF;
        color: #000000;

        -webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.5);
        -moz-box-shadow:    0px 0px 4px 0px rgba(50, 50, 50, 0.5);
        box-shadow:         0px 0px 4px 0px rgba(50, 50, 50, 0.5);
    }

        header nav.sub-menu ul {
            display: block;
            margin: 0;
            padding: 0;
        }

            header nav.sub-menu ul li {
                display: inline-block;
            }

                header nav.sub-menu ul li a {
                    display: inline-block;
                    text-decoration: none;
                    margin: 0;
                    padding: 10px;

                    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
                    color: #666666;

                    font-size: 15px;
                    border-right: 1px solid #EEEEEE;
                    border-top: 1px solid #EEEEEE;
                }

                    header nav.sub-menu ul li a:hover {
                        cursor: pointer;
                        color: #F08362;
                    }

                    header nav.sub-menu ul li.active a {
                        color: #73B0B5;
                    }

section.search-form-container, section.add-form-container {
    text-align: center;
    min-height: 300px;
    top: 60px;
    width: 100%;
    position: absolute;
    background: #48505B;
    color: #FFFFFF;
    padding-bottom: 50px;

    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
    section.search-form-container div, section.add-form-container div {
        margin: 10px;
    }

    section.search-form-container h3, section.add-form-container h3 {
        margin: 10px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }

    section.search-form-container label, section.add-form-container label {
        display: inline-block;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin: 5px;
        border-radius: 3px;

        -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow:    inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        box-shadow:         inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

        border: 2px none;
    }

    section.search-form-container label.active, section.add-form-container label.active {
        border: 2px solid #E0E0E0;
    }

    section.search-form-container a.close, section.add-form-container a.close {
        position: absolute;
        top: -54px;
        right: 60px;
        background: url('../img/icons/close.svg') no-repeat;
        width: 50px;
        height: 50px;
        display: block;
        background-color: inherit;
        padding-bottom: 10px;
    }

    section.add-form-container a.close {
        right: 120px;
    }

    section.search-form-container input[type=submit], section.add-form-container input[type=submit] {
        margin: 20px 0 0;
        border-radius: 3px;
        border: 0;
        padding: 10px;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);

        -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow:    inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        box-shadow:         inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    }

section.flash-message-container {

}

    section.flash-message-container a {
        border-radius: 2px;
        background: rgba(255,255,255,0.5);
        text-decoration: none;
        position: absolute;
        right: 12px;
        top: 12px;
        padding: 0 6px 1px 6px;
        line-height: 18px;
        text-shadow: none;
    }

        section.flash-message-container a:hover {
            background: #FFD77F;
        }

    section.flash-message-container div {
        position: relative;

        padding: 10px 40px 10px 10px;
        display: inline-block;
        margin: 10px;
        border-radius: 3px;
        color: #FFFFFF;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    section.flash-message-container div.error {
        background: #F08362;
    }

section.content-container {
    position: relative;
    float: left;
    width: 600px;
    line-height: 25px;
    margin: 20px;
    padding: 15px;
    background: #FFFFFF;

    -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.4);
    box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.4);
}

    section.content-container h2 {
        font-weight: normal;
        margin: 0 0 10px 0;
        padding: 0 0 10px 0;
        color: #73B0B5;
        /*color: #E9A642;*/
        border-bottom: 1px solid #EEEEEE;
    }

    section.content-container .list-table {
        width: 100%;
        font-size: 13px;
        border: 1px solid #E0E0E0;
        border-right: none;
        border-collapse: collapse;
    }

    section.content-container .list-table tr:nth-child(odd) td {
        background-color: #F8F8F8;
    }

    section.content-container .list-table tr:nth-child(even) td {
        background-color: #FFFFFF;
    }

    section.content-container .list-table th {
        font-weight: normal;
        text-align: center;
        padding: 0;
        border: 1px solid #E0E0E0;
        text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
        background: #E0E0E0; /* Old browsers */
        background: -moz-linear-gradient(top,  #F8F8F8 0%, #E0E0E0 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F8F8), color-stop(100%,#E0E0E0)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #F8F8F8 0%,#E0E0E0 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #F8F8F8 0%,#E0E0E0 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #F8F8F8 0%,#E0E0E0 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #F8F8F8 0%,#E0E0E0 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F8F8', endColorstr='#E0E0E0',GradientType=0 ); /* IE6-9 */
    }

    section.content-container .list-table th:last-child {
        width: 25px;
        padding: 0;
    }

    section.content-container .list-table td:last-child {
        padding: 0;
    }

    section.content-container .list-table th a {
        margin: 0;
        display: block;
        padding: 5px 5px;
        border-radius: 0;
        background: none;
        color: #000000;
    }

    section.content-container .list-table th a:hover {
        background: #DDEEEE;
    }

    section.content-container .list-table td {
        padding: 1px 5px;
        border-right: 1px solid #E0E0E0;
        line-height: 18px;
    }

    section.content-container .list-table td.date {
        font-size: 10px;
        width: 50px;
    }

    section.content-container .calendar-container,
    section.content-container .list-container {
        position: relative;
        /*border: 1px solid #E0E0E0;*/
        /*float: left;*/
        text-align: center;
    }

        section.content-container .calendar-container .list-table {
            margin: 20px 0 0 0;
        }

        section.content-container h3 {
            margin: 7px 0 14px 0;
            display: inline-block;
        }

        section.content-container a.next-month,
        section.content-container a.prev-month
        {
            font-size: 26px;
            display: inline-block;
            text-decoration: none;
            background: #DDDDDD;
            position: absolute;
            height: 40px;
            width: 40px;
            top: 0;
            color: #000000;
            line-height: 34px;
            text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
            border-radius: 50%;

            -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
            -moz-box-shadow:    inset 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
            box-shadow:         inset 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
        }

        section.content-container a.next-month:hover, section.content-container a.prev-month:hover {
            cursor: pointer;
            background-color: #FFD77F;
        }


        section.content-container a.prev-month {
            left: 6px;
        }

        section.content-container a.next-month {
            right: 6px;
        }

        section.content-container .calendar-container div {
            width: 364px;
            padding: 0;
            margin: 0 auto;
        }

            section.content-container .calendar-container div.calendar-day-numbers {
                overflow: auto;
            }

            section.content-container .calendar-container div.calendar-day-numbers a {
                text-decoration: none;
                color: #222222;
                line-height: 50px;
                list-style: none;
                display: block;
                margin: 1px;
                text-align: center;
                width: 50px;
                height: 50px;
                float: left;
                background: #E8E8E8;
                text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
            }

            section.content-container .calendar-container div.calendar-day-numbers a.has-events {
                background: #CCCCCC;
            }

            section.content-container .calendar-container div.calendar-day-numbers a.inactive {
                background: #F8F8F8;
                color: #AAAAAA;
            }

            section.content-container .calendar-container div.calendar-day-numbers a.active {
                background: #95D2D7;

                -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
                -moz-box-shadow:    inset 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
                box-shadow:         inset 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
            }

            section.content-container .calendar-container div.calendar-day-numbers a:hover {
                cursor: pointer;
                background-color: #FFD77F;
            }

            section.content-container .calendar-container div.calendar-day-names span {
                list-style: none;
                display: block;
                margin: 1px;
                text-align: center;
                width: 50px;
                float: left;
                background: none;
                font-size: 14px;

                text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
                background: -moz-linear-gradient(top,  #F8F8F8 0%, #E0E0E0 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F8F8), color-stop(100%,#E0E0E0)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  #F8F8F8 0%,#E0E0E0 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  #F8F8F8 0%,#E0E0E0 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  #F8F8F8 0%,#E0E0E0 100%); /* IE10+ */
                background: linear-gradient(to bottom,  #F8F8F8 0%,#E0E0E0 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F8F8', endColorstr='#E0E0E0',GradientType=0 ); /* IE6-9 */
            }

    section.content-container .appearance-icons-container {
        position: absolute;
        top: 9px;
        right: 15px;

        border-radius: 5px;

        -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow:    inset 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
        box-shadow:         inset 0px 0px 4px 0px rgba(0, 0, 0, 0.1);

        background: -moz-linear-gradient(top,  #F8F8F8 0%, #E0E0E0 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F8F8), color-stop(100%,#E0E0E0)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #F8F8F8 0%,#E0E0E0 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #F8F8F8 0%,#E0E0E0 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #F8F8F8 0%,#E0E0E0 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #F8F8F8 0%,#E0E0E0 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F8F8', endColorstr='#E0E0E0',GradientType=0 ); /* IE6-9 */
    }

        section.content-container .appearance-icons-container a {
            margin: 0;
            border-right: 1px solid #CCCCCC;
            display: block;
            float: left;
            width: 32px;
            height: 32px;
            background: url('../img/icons/appearence_icons.svg') left;
        }
            section.content-container .appearance-icons-container a:first-child {
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
            }

            section.content-container .appearance-icons-container a:last-child {
                border: none;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
            }

            section.content-container .appearance-icons-container a.calendar {
            }

            section.content-container .appearance-icons-container a.list {
                background-position: -34px 0;
            }

            section.content-container .appearance-icons-container a.map {
                background-position: -66px 0;
            }

            section.content-container .appearance-icons-container a:hover {
                background-color: #FFD77F;
            }




        section.content-container .action-buttons-container {
            position: relative;
            width: 25px;
            margin: 0 auto;
        }

            section.content-container .action-buttons-container .show-actions-button {
                /*border-radius: 3px;*/
                width: 25px;
                height: 25px;
                background: url('../img/icons/item_action_icons.svg') right;
                background-position: -145px -10px;

                display: block;

                background-color: #EEEEEE;
                border-bottom: 1px solid #D0D0D0;
                border-top: 1px solid #D0D0D0;
                -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
                -moz-box-shadow:    inset 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
                box-shadow:         inset 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
            }

            section.content-container .action-buttons-container .show-actions-button:hover {
                background-color: #FFD77F;
            }

            section.content-container .action-buttons-container .actions {
                position: absolute;

                z-index: 10;

                right: 70%;
                top: -10px;

                width: 138px;
                height: 45px;

                -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow:    0px 0px 4px 0px rgba(0, 0, 0, 0.2);
                box-shadow:         0px 0px 4px 0px rgba(0, 0, 0, 0.2);

                background: #48505B;
                margin: 0 8px 0 0;
                display: block;
            }

                section.content-container .action-buttons-container .actions:after {
                    content: '';
                    position: absolute;
                    top: 18px;
                    left: 100%;
                    width: 0;
                    height: 0;
                    border-top: solid 6px transparent;
                    border-left: solid 6px #48505B;
                    border-right: solid 6px transparent;
                    border-bottom: solid 6px transparent;
                }

            section.content-container .action-buttons-container .actions:before {
                content: '';
                position: absolute;
                top: 18px;
                right: 100%;
                width: 0;
                height: 0;
                border-top: solid 6px transparent;
                border-right: solid 6px #48505B;
                border-left: solid 6px transparent;
                border-bottom: solid 6px transparent;
            }

                section.content-container .action-buttons-container .actions a {
                    margin: 0;
                    border-right: 1px solid #636E7A;
                    display: block;
                    float: left;
                    width: 45px;
                    height: 45px;
                    background: url('../img/icons/item_action_icons.svg') left;
                }

                section.content-container .action-buttons-container .actions a.edit {
                    background-position: -45px 0;
                }

                section.content-container .action-buttons-container .actions a.show {
                    background-position: -90px 0;
                }

                section.content-container .action-buttons-container .actions a:last-child {
                    border: none;
                }

                section.content-container .action-buttons-container .actions a:hover {
                    background-color: #636E7A;
                }

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

/* Colors */
    /* Backgrounds */
    .bg-light-green {
        background-color: #A0BC49;
    }

    .bg-dark-green {
        background-color: #5BA87A;
    }

    .bg-magenta {
        background-color: #E04F94;
    }

    .bg-red {
        background-color: #AD5163;
    }

    .bg-yellow {
        background-color: #F7BC6D;
    }

    .bg-beige {
        background-color: #DDBC83;
    }

    .bg-light-blue {
        background-color: #95D2D7;
    }

    .bg-dark-blue {
        background-color: #4887B2;
    }

    .bg-dark-purple {
        background-color: #A2559C;
    }

    .bg-light-purple {
        background-color: #BFABD2;
    }

    .bg-orange {
        background-color: #F08362;
    }

    /* Text */
    .text-light-green {
        color: #A0BC49;
    }

    .text-dark-green {
        color: #5BA87A;
    }

    .text-magenta {
        color: #E04F94;
    }

    .text-red {
        color: #AD5163;
    }

    .text-yellow {
        color: #F7BC6D;
    }

    .text-beige {
        color: #DDBC83;
    }

    .text-light-blue {
        color: #95D2D7;
    }

    .text-dark-blue {
        color: #4887B2;
    }

    .text-dark-purple {
        color: #A2559C;
    }

    .text-light-purple {
        color: #BFABD2;
    }

    .text-orange {
        color: #F08362;
    }