<section class="content-container" ng-controller="CustomerEditCtrl" ng-show="customer">
    <h2>
        Redigera Kund
        <img data-loading class="data-pre-loader" ng-show="showPreLoader" src="img/preloader_cogs.gif">
    </h2>
    <page-header-buttons
            show-list="true"
            show-add="true"
            show-search="true"
    ></page-header-buttons>

    <form name="customerForm">

        <label>Bild på Kund</label>
        <image-uploader type="Customer" id="{{customer.CustomerId}}" image-src="customer.ImageSrc" base64-encoded-image="customer.ImageForUpload"></image-uploader>

        <label>Kundnummer</label>
        <input type="number" name="customerId" ng-pattern="regExp.textField" ng-model="customer.CustomerId" disabled="disabled">
        <label>Namn
            <span ng-show="customerForm.name.$error.required" class="green">Var god ange</span>
            <span ng-show="customerForm.name.$error.pattern">Får endast bestå av bokstäver, siffror och tecknen: -_&.,~^@()/%!</span>
        </label>
        <input type="text" name="name" ng-pattern="regExp.textField" ng-model="customer.Name" maxlength="50" required>

        <label>Adress
            <span ng-show="customerForm.address.$error.required" class="green">Var god ange</span>
            <span ng-show="customerForm.address.$error.pattern">Får endast bestå av bokstäver, siffror och tecknen: -_&.,~^@()/%!</span>
        </label>
        <input type="text" name="address" ng-pattern="regExp.textField" ng-model="customer.Address" maxlength="40" required>

        <label>Postnummer
            <span ng-show="customerForm.postnumber.$error.required" class="green">Var god ange</span>
            <span ng-show="customerForm.postnumber.$error.pattern">Skriv postnummer i följande format: 123 45</span>
        </label>
        <input type="text" name="postnumber" ng-pattern="regExp.postNumber" ng-model="customer.PostNumber" maxlength="6" required>

        <label>Ort
            <span ng-show="customerForm.city.$error.required" class="green">Var god ange</span>
            <span ng-show="customerForm.city.$error.pattern">Får endast bestå av bokstäver, siffror och tecknen: -_&.,~^@()/%!</span>
        </label>
        <input type="text" class="uppercase" name="city" ng-pattern="regExp.textField" ng-model="customer.City" maxlength="30" required>

        <label>E-postadress
            <span ng-show="customerForm.emailAddress.$error.required" class="green">Var god ange</span>
            <span ng-show="customerForm.emailAddress.$error.pattern">Får endast bestå av bokstäver, siffror och tecknen: -_&.,~^@()/%!</span>
            <span ng-show="customerForm.emailAddress.$error.email">Ingen giltig e-postadress</span>
        </label>
        <input type="email" name="emailAddress" ng-pattern="regExp.textField" ng-model="customer.EmailAddress" maxlength="50" required>

        <label>Telefonnummer
            <span ng-show="customerForm.phoneNumber.$error.required" class="green">Var god ange</span>
            <span ng-show="customerForm.phoneNumber.$error.pattern">Får endast innehålla siffror och tecknet -</span>
        </label>
        <input type="text" name="phoneNumber" ng-pattern="regExp.phoneNumber" ng-model="customer.PhoneNumber" maxlength="20" required>

        <label>Mobiltelefonnummer
            <span ng-show="customerForm.cellPhoneNumber.$error.pattern">Får endast innehålla siffror och tecknet -</span>
        </label>
        <input type="text" name="cellPhoneNumber" ng-pattern="regExp.phoneNumber" ng-model="customer.CellPhoneNumber" maxlength="20">

        <label>Överordnad kund</label>
        <select ng-model="customer.ParentCustomerId" ng-options="parentcustomer.CustomerId as parentcustomer.Name for parentcustomer in customers">
            <option value="">(Ingen)</option>
        </select>

        <label>Anteckningar
            <span ng-show="customerForm.notes.$error.pattern">Får endast bestå av bokstäver, siffror och tecknen: -_&.,~^@()/%!</span>
        </label>
        <textarea name="notes" ng-pattern="regExp.textField" ng-model="customer.Notes" maxlength="200"></textarea>

        <button ng-click="save()" ng-disabled="!customerForm.$valid">Spara</button>
        <button back-button>Avbryt</button>

    </form>
</section>