<section class="content-container" ng-controller="ResourceEditCtrl" ng-show="resource">
    <h2>
        Redigera resurs
        <img data-loading class="data-pre-loader" ng-show="showPreLoader" src="img/preloader_cogs.gif">
    </h2>
    <page-header-buttons
            show-list="true"
            show-add="true"
    ></page-header-buttons>

    <form name="resourceForm">
        <label>Namn
            <span ng-show="resourceForm.name.$error.required" class="green">Var god ange</span>
            <span ng-show="resourceForm.name.$error.pattern">Får endast bestå av bokstäver, siffror och tecknen: -_&.,~^@()/%!</span>
        </label>
        <input type="text" name="name" ng-pattern="regExp.textField" ng-model="resource.Name" maxlength="50" required>

        <label>Antal
            <span ng-show="resourceForm.count.$error.required" class="green">Var god ange</span>
            <span ng-show="resourceForm.count.$error.number">Inget giltigt värde</span>
            <span ng-show="resourceForm.count.$error.max">Får vara max {{Int16MaxValue}}</span>
            <span ng-show="resourceForm.count.$error.min">Får vara minst 0</span>
        </label>
        <input type="number" min="0" max="{{Int16MaxValue}}" name="count" ng-model="resource.Count" required>

        <label>Antal under helgdagar
            <span ng-show="resourceForm.weekEndCount.$error.required" class="green">Var god ange</span>
            <span ng-show="resourceForm.weekEndCount.$error.number">Inget giltigt värde</span>
            <span ng-show="resourceForm.weekEndCount.$error.max">Får vara max {{Int16MaxValue}}</span>
            <span ng-show="resourceForm.weekEndCount.$error.min">Får vara minst 0</span>
        </label>
        <input type="number" min="0" max="{{Int16MaxValue}}" name="weekEndCount" ng-model="resource.WeekEndCount" required>

        <label>Bokningspris per timme (kr)
            <span ng-show="resourceForm.bookingPricePerHour.$error.required" class="green">Var god ange</span>
            <span ng-show="resourceForm.bookingPricePerHour.$error.number">Inget giltigt värde</span>
            <span ng-show="resourceForm.bookingPricePerHour.$error.max">Får vara max {{Int32MaxValue}}</span>
            <span ng-show="resourceForm.bookingPricePerHour.$error.min">Får vara minst 0</span>
        </label>
        <input type="number" min="0" max="{{Int32MaxValue}}" name="bookingPricePerHour" ng-model="resource.BookingPricePerHour" required>

        <label>Marginal efter bokning (minuter)
            <span ng-show="resourceForm.minutesMarginAfterBooking.$error.number">Inget giltigt antal</span>
            <span ng-show="resourceForm.minutesMarginAfterBooking.$error.max">Får vara max {{Int16MaxValue}}</span>
            <span ng-show="resourceForm.minutesMarginAfterBooking.$error.min">Får vara minst 0</span>
        </label>
        <input type="number" min="0" max="{{Int16MaxValue}}" name="minutesMarginAfterBooking" ng-model="resource.MinutesMarginAfterBooking">

        <button ng-click="save()" ng-disabled="!resourceForm.$valid">Spara</button>
        <button back-button>Avbryt</button>

    </form>
</section>