<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="bookingSystem" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="bookingSystem" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="bookingSystem" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="bookingSystem" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bokningssystemet</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="icon" type="image/png" href="img/icons/favicon32.png" sizes="32x32">
        <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>

        <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>-->
        <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    </head>
    <body ng-cloak>

      <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <header ng-controller="HeaderCtrl">

          <div class="back-color-container">
              <h1>Bokningssystemet</h1>

              <a class="header-button-user" href=""></a>

              <nav class="main-menu">
                  <main-menu menu-items="menus"></main-menu>
              </nav>
          </div>

          <section class="flash-message-container" ng-controller="FlashMessageCtrl" ng-show="messageVisible">
              <div class="{{messageClass}}">
                  {{messageText}}
                  <a href="" ng-click="hideMessage()">&#215;</a>
              </div>
          </section>

          <nav class="sub-menu">
              <ul>
                  <li ng-repeat="subMenu in activeSubMenus" ng-class="{active: $index == selectedSubMenu}">
                      <a href="#/{{subMenu.location}}" ng-click="selectSubMenu($index)">{{subMenu.title}}</a>
                  </li>
              </ul>
          </nav>

      </header>

      <section class="main-content-container" ng-view>

      </section>



      <!-- <div>Angular seed app: v<span app-version></span></div> -->

      <!-- In production use:
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
      -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>

        <!-- Start view -->
        <script src="controllers/start/startCtrl.js"></script>

        <!-- Booking -->
        <script src="controllers/booking/bookingCtrl.js"></script>
        <script src="shared/services/bookingService.js"></script>

        <!-- BookingType -->
        <script src="controllers/booking-type/bookingTypeCtrl.js"></script>

        <!-- Furnituring -->
        <script src="controllers/furnituring/furnituringCtrl.js"></script>
        <script src="shared/services/furnituringService.js"></script>

        <!-- Location -->
        <script src="controllers/location/locationCtrl.js"></script>
        <script src="shared/services/locationService.js"></script>

        <!-- LocationBooking -->
        <script src="controllers/location-booking/locationBookingCtrl.js"></script>
        <script src="shared/services/locationBookingService.js"></script>

        <!-- Resource -->
        <script src="controllers/resource/resourceCtrl.js"></script>
        <script src="shared/services/resourceService.js"></script>

        <!-- ResourceBooking -->
        <!--<script src="controllers/resource-booking/resourceBookingCtrl.js"></script> NOT IMPLEMENTED YET -->
        <script src="shared/services/resourceBookingService.js"></script>

        <!-- Customer -->
        <script src="controllers/customer/customerCtrl.js"></script>
        <script src="shared/services/customerService.js"></script>

        <!-- Shared -->
        <script src="shared/filters/commonFilters.js"></script>
        <script src="shared/directives/commonDirectives.js"></script>
        <script src="shared/directives/calendarDirective.js"></script>
        <script src="shared/directives/imageUploaderDirective.js"></script>
        <script src="shared/controllers/headerCtrl.js"></script>
        <script src="shared/services/commonServices.js"></script>
        <script src="shared/directives/menuDirective.js"></script>

        <script src="shared/services/imageResizeService.js"></script>

        <!-- Google maps API-->
        <script src="http://maps.google.com/maps/api/js"></script>
        <script src="lib/angular-google-maps.min.js"></script>
        <script src="lib/lodash.min.js"></script>

        <!-- Moment date lib -->
        <script src="lib/moment-with-locales.min.js"></script>

        <!-- Angular UI Utils Validate lib -->
        <!--<script src="lib/ui-utils-validate.js"></script>-->

        <!-- Other -->
        <script src="components/version/version.js"></script>
        <script src="components/version/version-directive.js"></script>
        <script src="components/version/interpolate-filter.js"></script>

        <script src="lib/extensions.js"></script>

        <!-- Main app -->
        <script src="app.js"></script>

    </body>
</html>
