<section class="content-container" ng-controller="LocationEditCtrl" ng-show="location">
    <h2>
        Redigera Lokal/Plats
        <img data-loading class="data-pre-loader" ng-show="showPreLoader" src="img/preloader_cogs.gif">
    </h2>
    <page-header-buttons
            show-list="true"
            show-add="true"
            show-map="true"
            show-search="true"
    ></page-header-buttons>

    <form name="locationForm">

        <label>Bild på lokal/plats</label>
        <image-uploader type="Location" id="{{location.LocationId}}" image-src="location.ImageSrc" base64-encoded-image="location.ImageForUpload"></image-uploader>

        <label>Namn
            <span ng-show="locationForm.name.$error.required" class="green">Var god ange</span>
            <span ng-show="locationForm.name.$error.pattern">Får endast bestå av bokstäver, siffror och tecknen: -_&.,~^@()/%!</span>
        </label>
        <input type="text" name="name" ng-pattern="regExp.textField" ng-model="location.Name" maxlength="50" required>

        <label>Max personer (st)
            <span ng-show="locationForm.maxPeople.$error.required" class="green">Var god ange</span>
            <span ng-show="locationForm.maxPeople.$error.number">Inget giltigt antal</span>
            <span ng-show="locationForm.maxPeople.$error.max">Får vara max {{Int16MaxValue}}</span>
            <span ng-show="locationForm.maxPeople.$error.min">Får vara minst 0</span>
        </label>
        <input type="number" min="0" max="{{Int16MaxValue}}" name="maxPeople" ng-model="location.MaxPeople" required>

        <label>Bokningspris per timme (kr)
            <span ng-show="locationForm.bookingPricePerHour.$error.required" class="green">Var god ange</span>
            <span ng-show="locationForm.bookingPricePerHour.$error.number">Inget giltigt värde</span>
            <span ng-show="locationForm.bookingPricePerHour.$error.max">Får vara max {{Int32MaxValue}}</span>
            <span ng-show="locationForm.bookingPricePerHour.$error.min">Får vara minst 0</span>
        </label>
        <input type="number" min="0" max="{{Int32MaxValue}}" name="bookingPricePerHour" ng-model="location.BookingPricePerHour" step="0.01" required>

        <label>Marginal efter bokning (minuter)
            <span ng-show="locationForm.minutesMarginAfterBooking.$error.number">Inget giltigt antal</span>
            <span ng-show="locationForm.minutesMarginAfterBooking.$error.max">Får vara max {{Int16MaxValue}}</span>
            <span ng-show="locationForm.minutesMarginAfterBooking.$error.min">Får vara minst 0</span>
        </label>
        <input type="number" min="0" max="{{Int16MaxValue}}" name="minutesMarginAfterBooking" ng-model="location.MinutesMarginAfterBooking">

        <label>Möbleringar som ska vara tillgängliga för lokalen/platsen</label>
        <div class="checkbox-radio-container" >
            <label ng-repeat="furnituring in furniturings">
                <input type="checkbox" name="selectedFurniturings" value="{{furnituring.Name}}" ng-model="furnituring.Selected">{{furnituring.Name}}

                <div ng-show="furnituring.Selected">
                    Max
                    <select-max-people max-people-options="location.MaxPeople" ng-model="furnituring.MaxPeople" use-model="furnituring.MaxPeople" stop-parent-event="click"></select-max-people>
                    pers.
                </div>
            </label>
        </div>
        <label>GPS kartmarkering</label>
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" bounds="map.bounds" events="map.events">
            <ui-gmap-markers
                    models="markers"
                    coords="'coords'"
                    options="options"
                    events="events"
                    >
            </ui-gmap-markers>
        </ui-gmap-google-map>


        <button ng-click="save()" ng-disabled="!locationForm.$valid">Spara</button>
        <button back-button>Avbryt</button>

    </form>
</section>

