<section class="content-container" ng-controller="LocationEditCtrl">
    <h2>
        Redigera Lokal/Plats
        <img data-loading class="data-pre-loader" ng-show="showPreLoader" src="img/preloader_cogs.gif">
    </h2>
    <page-header-buttons
            show-list="true"
            show-add="true"
            show-map="true"
            show-search="true"
    ></page-header-buttons>

    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" bounds="map.bounds" events="map.events">
        <ui-gmap-markers
                models="markers"
                coords="'coords'"
                options="options"
                events="events"
                fit="true"
                >
        </ui-gmap-markers>
    </ui-gmap-google-map>

    <image-uploader type="Location" id="{{location.LocationId}}"></image-uploader>

    <form name="locationForm">
        <label>Namn
            <span ng-show="locationForm.name.$error.required">Var god ange</span>
            <span ng-show="locationForm.name.$error.pattern">Får endast bestå av bokstäver, siffror och tecknen: -_&.,@()/%!</span>
        </label>

        <input type="text" name="name" ng-pattern="regExp.textField" ng-model="location.Name" required>

        <label>Max personer (st)
            <span ng-show="locationForm.maxPeople.$error.required">Var god ange</span>
            <span ng-show="locationForm.maxPeople.$error.number">Inget giltigt antal</span>
            <span ng-show="locationForm.maxPeople.$error.max">Får vara max {{Int16MaxValue}}</span>
            <span ng-show="locationForm.maxPeople.$error.min">Får vara minst 0</span>
        </label>
        <input type="number" min="0" max="{{Int16MaxValue}}" name="maxPeople" ng-model="location.MaxPeople" required >

        <label>Sökväg till bild</label>
        <input type="text" name="image-src" ng-model="location.ImageSrc">

        <label>Bokningspris per timme (kr)
            <span ng-show="locationForm.bookingPricePerHour.$error.required">Var god ange</span>
            <span ng-show="locationForm.bookingPricePerHour.$error.number">Inget giltigt värde</span>
            <span ng-show="locationForm.bookingPricePerHour.$error.max">Får vara max {{Int32MaxValue}}</span>
            <span ng-show="locationForm.bookingPricePerHour.$error.min">Får vara minst 0</span>
        </label>
        <input type="number" min="0" max="{{Int32MaxValue}}" name="bookingPricePerHour" ng-model="location.BookingPricePerHour" required>

        <label>Marginal efter bokning (minuter)
            <span ng-show="locationForm.minutesMarginAfterBooking.$error.number">Inget giltigt antal</span>
            <span ng-show="locationForm.minutesMarginAfterBooking.$error.max">Får vara max {{Int16MaxValue}}</span>
            <span ng-show="locationForm.minutesMarginAfterBooking.$error.min">Får vara minst 0</span>
        </label>
        <input type="number" min="0" max="{{Int16MaxValue}}" name="minutesMarginAfterBooking" ng-model="location.MinutesMarginAfterBooking">

        <button ng-click="save()" ng-disabled="!locationForm.$valid">Spara</button>
        <button ng-click="abort()">Avbryt</button>

    </form>
</section>

