<section class="content-container" ng-controller="LocationCreateCtrl">
    <h2>Skapa Plats / Lokal</h2>
    <div class="page-header-icons-container">
        <a class="map" href="#/platser/karta"></a>
        <a class="list" href="#/platser/lista"></a>
        <a class="add" href="#/platser/skapa"></a>
    </div>

    <form name="locationForm">
        <label>Namn
            <span ng-show="locationForm.name.$error.required">Var god ange</span>
            <span ng-show="locationForm.name.$error.pattern">Får endast bestå av bokstäver, siffror och tecknen: -_&.,@()/%!</span>
        </label>

        <input type="text" name="name" ng-pattern="regExp.textField" ng-model="location.Name" required>

        <label>Max personer (st)
            <span ng-show="locationForm.maxPeople.$error.required">Var god ange</span>
            <span ng-show="locationForm.maxPeople.$error.number">Inget giltigt antal</span>
            <span ng-show="locationForm.maxPeople.$error.max">Får vara max {{Int16MaxValue}}</span>
            <span ng-show="locationForm.maxPeople.$error.min">Får vara minst 0</span>
        </label>
        <input type="number" min="0" max="{{Int16MaxValue}}" name="maxPeople" ng-model="location.MaxPeople" required >

        <label>GPS Latitud</label>
        <input type="text" name="gps-latitude" ng-model="location.GPSLatitude">

        <label>GPS Longitud</label>
        <input type="text" name="gps-longitude" ng-model="location.GPSLongitude">

        <label>Sökväg till bild</label>
        <input type="text" name="image-src" ng-model="location.ImageSrc">

        <label>Bokningspris per timme (kr)
            <span ng-show="locationForm.bookingPricePerHour.$error.required">Var god ange</span>
            <span ng-show="locationForm.bookingPricePerHour.$error.number">Inget giltigt värde</span>
            <span ng-show="locationForm.bookingPricePerHour.$error.max">Får vara max {{Int32MaxValue}}</span>
            <span ng-show="locationForm.bookingPricePerHour.$error.min">Får vara minst 0</span>
        </label>
        <input type="number" min="0" max="{{Int32MaxValue}}" name="bookingPricePerHour" ng-model="location.BookingPricePerHour" required>

        <label>Marginal efter bokning (minuter)
            <span ng-show="locationForm.minutesMarginAfterBooking.$error.number">Inget giltigt antal</span>
            <span ng-show="locationForm.minutesMarginAfterBooking.$error.max">Får vara max {{Int16MaxValue}}</span>
            <span ng-show="locationForm.minutesMarginAfterBooking.$error.min">Får vara minst 0</span>
        </label>
        <input type="number" min="0" max="{{Int16MaxValue}}" name="minutesMarginAfterBooking" ng-model="location.MinutesMarginAfterBooking">

        <button ng-click="save()" ng-disabled="!locationForm.$valid">Skapa</button>
        <button ng-click="abort()">Avbryt</button>

    </form>
</section>