<section class="content-container" ng-controller="FurnituringCreateCtrl">
    <h2>
        Skapa möblering
        <img data-loading class="data-pre-loader" ng-show="showPreLoader" src="img/preloader_cogs.gif">
    </h2>
    <page-header-buttons
            show-list="true"
            show-add="true"
    ></page-header-buttons>

    <form name="furnituringForm">
        <label>Namn
            <span ng-show="furnituringForm.name.$error.required" class="green">Var god ange</span>
            <span ng-show="furnituringForm.name.$error.pattern">Får endast bestå av bokstäver, siffror och tecknen: -_&.,~^@()/%!</span>
        </label>
        <input type="text" name="name" ng-pattern="regExp.textField" ng-model="furnituring.Name" maxlength="50" required>

        <button ng-click="save()" ng-disabled="!furnituringForm.$valid">Skapa</button>
        <button back-button>Avbryt</button>

    </form>
</section>