<section class="content-container" ng-controller="FurnituringEditCtrl">
    <h2>
        Redigera möblering
        <img data-loading class="data-pre-loader" ng-show="showPreLoader" src="img/preloader_cogs.gif">
    </h2>
    <div class="page-header-icons-container">
        <a class="list" href="#/mobleringar/lista"></a>
        <a class="add" href="#/mobleringar/skapa"></a>
    </div>

    <form name="furnituringForm">
        <label>Namn</label>
        <input type="text" name="name" ng-model="furnituring.Name" required>

        <button ng-click="save()">Spara</button>
        <button ng-click="abort()">Avbryt</button>

    </form>
</section>