<section class="content-container" ng-controller="BookingTypeCreateCtrl">
    <h2>
        Skapa bokningstyp
        <img data-loading class="data-pre-loader" ng-show="showPreLoader" src="img/preloader_cogs.gif">
    </h2>
    <page-header-buttons
            show-list="true"
            show-add="true"
            show-search="true"
    ></page-header-buttons>

    <form name="bookingTypeForm">
        <label>Namn
            <span ng-show="bookingTypeForm.name.$error.required">Var god ange</span>
            <span ng-show="bookingTypeForm.name.$error.pattern">Får endast bestå av bokstäver, siffror och tecknen: -_&.,~^@()/%!</span>
        </label>
        <input type="text" name="name" ng-pattern="regExp.textField" ng-model="bookingType.Name" maxlength="50" required>

        <button ng-click="save()" ng-disabled="!bookingTypeForm.$valid">Skapa</button>
        <button ng-click="abort()">Avbryt</button>

    </form>
</section>