<section class="content-container">
    <h2 class="text-red">Sidan kunde ej hittas.</h2>
    <div>
        Sidan "<strong>{{appLocation.path()}}</strong>" som du söker finns inte i bokningssystemet. En av följande förslag kan vara orsaken:
        <ul>
            <li>Systemet länkar till en sida som inte finns i systemet, men som eventuellt är under utveckling.</li>
            <li>Kanske råkade du av misstag skriva fel adress eller skriva om adressen till sidan du önskar att nå.</li>
        </ul>
    </div>
</section>